/HOWTO
/TODO
/README
/CHANGES
/CHANGES.html
/KNOWN-BUGS
/contrib
/other-docs
config
lib/etc/config
old/
doc/lrm/caph-lrm.pdf
doc/lrm/bin2txt.tex
doc/lrm/caphmake.tex
doc/lrm/mkdcimg.tex
doc/lrm/options-dot.tex
doc/lrm/options-general.tex
doc/lrm/options-simu.tex
doc/lrm/options-systemc.tex
doc/lrm/options-vhdl.tex
doc/lrm/pgm2txt.tex
doc/lrm/txt2pgm.tex
doc/lrm/txt2bin.tex
doc/lrm/bin2pgm.tex
doc/lrm/mkconv.tex
doc/lrm/pgm2bin.tex
doc/lrm/figs/*.graffle
doc/lrm/figs/*.dot
doc/primer/caph-primer.pdf
doc/primer/figs/*.graffle
doc/primer/figs/*.dot
old/
tests/
examples/Howto
examples/demo
examples/nextvers
examples/other
examples/quartus
examples/tocheck
examples/tofix
examples/tosee
examples/do_test
examples/do_tests
examples/working/mocs_summary.*
_build/
man/*.1
man/*.tex
compiler/_tags
compiler/lexer.ml
compiler/options_spec.ml
compiler/parser.ml
compiler/parser.mli
compiler/parser.output
compiler/version.ml
tools/bin2pgm
tools/bin2txt
tools/caphmake
tools/mkconv
tools/mkdcimg
tools/mkproject
tools/pgm2bin
tools/pgm2txt
tools/txt2bin
tools/txt2pgm
gui/Makefile
gui/caph.app/
gui/moc_*.*
gui/ui*.h
gui/qrc_resources.cpp
*.o
bin/
*_mocs.dat
examples/working/*/*/Makefile
examples/working/*/*/Makefile.*
examples/working/*/*/caph.output
examples/working/*/*/*.bin
examples/working/*/*/result*.txt
examples/working/*/*/*.dot
examples/working/*/*/dot/
examples/working/*/*/sim/
examples/working/*/*/systemc/
examples/working/*/*/vhdl/
!examples/do_test
compiler/obsolete/
